/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-image: url("wdd.jpg");
    background-size: cover;
    background-position: center;
    transition: background 1s ease-in-out; /* Smooth transition */
}

.container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

#city {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchBtn {
    padding: 10px 15px;
    background-color: #4e8bcf;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#searchBtn:hover {
    background-color: #3c75a6;
}

#micBtn {
    padding: 10px 20px;
    background-color: #4e8bcf;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#micBtn:hover {
    background-color: #3c75a6;
}


.weather-info {
    margin-top: 20px;
    color: #333;
}

.weather-info h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.weather-info p {
    font-size: 18px;
    margin-top: 8px;
}

.forecast-container {
    margin-top: 27px;
    display: none;
    width: 100%;
    text-align: center;
}

.forecast-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.forecast-card {
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100px;
}

.forecast-card h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.forecast-card p {
    font-size: 16px;
}

.additional-info {
    margin-top: 30px;
    color: #333;
    display: none;
}

.additional-info h3 {
    font-size: 22px;
}

.additional-info p {
    font-size: 18px;
}

#loading {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .container {
        width: 250px;
    }

    .forecast-cards {
        flex-direction: column;
        align-items: center;
    }

    .forecast-card {
        width: 80%;
    }
}

